
/***********************Image Header*************************/
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.row{
    margin-right: 0px;
}

.container-fluid {
    margin: 0px;
    padding: 0px;
    width: 100%;
}
/*.promo{
    width: 100%;
}*/
/*.promo a:hover {
    text-decoration: none;
    background-color: #fd0202;
    transition: 0.4s;
}*/
.card {
    padding: 0px;
    margin-top: 20px;
    margin-left: 0px;
    float: left;
    border-bottom:thick #cdd7e6  solid;
    background-color: #fafafa;
    align-content: center;
}

.card-title{margin: 0;
            padding: 0;}

.gallery {
    width: 80%;
    margin-top: 10px;
    margin-bottom: 25px;
    padding: 0px;
    background-color: #fafafa;
}

.gally-pic {
    overflow: hidden;
}

.gally-pic img {
    transition: all 1.5s ease;
}

.gally-pic:hover img {
    transform: scale(1.2);
}


/**********************navigation*********************/

.navbar {
    background-color: rgb(74, 153, 226);
    margin: 0px;
    padding: 0px;
    width: 100%;
    padding-top: 7px;
    padding-bottom: 5px;
    
}
.nav-link:hover {
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.4),
              inset -1px -1px 3px rgba(255,255,255,0.4);
}

.dropdown-menu{
    background-color: rgb(45, 118, 185);
}

.dropdown-menu a:hover {
    background-color: rgb(7, 8, 37);
}

.navbar-nav li {
    text-align: center;
    padding-left: 40px;
}


.navbar-nav li a {
    font-weight: 600px;
    color: #fff !important;
}

.fa-bars {
    color: #fff;
    font-size: 30px !important;
}

.navbar-toggler {
    outline: none !important;
}



/*****************************F00ter*****************************/
/*.jumbotron{ background-color: rgb(239, 240, 247);}*/
.footer {
    padding: 0;
    margin: 0;
    width: 100%;
}

.logo {
    font-family: lobster;
    color: #282853;
}

.socials-links li a i {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 12px 0;
    line-height: 7px;
    text-align: center;
    color: #fff;
    background-color: #282853;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.socials-links li a i:hover {
    background-color: rgb(204, 46, 46);
}

.copyright {
    background-color: rgb(74, 153, 226);
    color: #fff;
}

.jumbotron {
    margin: 0;
    width: 100%;
}

.copyright {
    padding: 0;
    margin: 0;
    width: 100%;
}

.card-header {
    color: #282853;
    
}


/*.vatten {
    width: 1200px;
    opacity: 0.7;
    margin-bottom: -40px;
    border-bottom: thin #183b6a solid;
}*/

.vatten {
    padding: 0px;
    margin: 0px;
}

/********************************Map Section***********************************************/

#map {
    height: 250px; 
    width: 100%;
    text-align: center;
}

/********************************Contact form Section***********************************************/

.form {
    padding: 0px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
    border: thin #cdd7e6 solid;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    margin-left: 20px;
}
.kiki {
width: 90%;
margin-top: 10px;
margin-bottom: 10px;
margin-left: 20px;
}
.kiki2 {width: 90%;
margin-left: 20px; 
}
        
.contact-bottom{border-bottom: thick #cdd7e6 solid;}

.information{margin-bottom: 30px;}

.Top{
    background-color: #ffffff;
}
.Middle{
    background-color: #ffffff;
}

.border-tertiary {
    border-bottom: thick #cdd7e6 solid;
    background-color: rgba(0,0,0,.03);
    margin: auto;
    padding: 15px;
}

/************** centers the cards and renders spacing as well *********************/
.category_cards{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/************** centers the windows and renders spacing as well *********************/
.col-12{
    display: inline-block;
}

.cards{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
    border: thin #cdd7e6 solid;
    border-bottom:thick #cdd7e6 solid;
    background-color: #fff;
    box-shadow: 10px 5px 5px rgb(223, 219, 219);

}
/******************************   buttons ***** **********************/
.button{
    width: 150px;
    margin: auto;
    line-height: 2;
    font-size: 1.1rem;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px black;
    border-radius: 20px / 15px;
    border: none;
    cursor: pointer;

    /*background-color: #5acc86;*/
    background-color: #007bff;
    box-shadow: inset 1px 1px 3px rgba(255,255,255,0.4),
                inset -1px -1px 3px rgba(0,0,0,0.4);
}

/******************* for vatten to get full width************/
.col-12{
    padding-right: 0;
}
.additional_info{
    padding-bottom: 20px;
}


.slick-next:before, .slick-prev:before {
    background-color: black;
}
.slick-next {
    right: -5px;
}

.card-img-down{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    transition: width 2s, height 4s;
}

.card-text{
    margin: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.card-img-down:hover{
     transform: scale(1.2);
}

.card-img-down{
    transition: all 0.5s ease;
}

.navbar-brand:hover {
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.4),
              inset -1px -1px 3px rgba(255,255,255,0.4);
}

.contact-bottom{
    margin-bottom: 50px;
}

.container {
    width: 100%;
    padding-right: 0px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.add_task{
    padding-right: 15px;
}

.rut-link a:hover{
    text-decoration: none !important;
}

/******************* buttons for boka besok/städ************/
.uls {
  padding: 0;
  width: 100%;
}

.lis {
  display: inline;
}

.as {
  outline: none;
  text-decoration: none !important;
  display: inline-block;
  width: 45%;
  margin-right: 0.625%;
  text-align: center;
  line-height: 3;
  color: white;
  border: none;
}

.lis:last-child a {
  margin-right: 0;
}

.as:link, as:visited, as:focus {
  background: #007bff;
  box-shadow: inset 1px 1px 3px rgba(255,255,255,0.4),
                inset -1px -1px 3px rgba(0,0,0,0.4);
}

.as:hover {
  background: #acb8c5;
  color: #fafafa;
}

.as:active {
  color: white;
}
.allt-section{
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 20px;
    max-height: 200px;
    max-width: 100%;
}
.myvideo {
    height:600px;
    width:100%;
    overflow:hidden;
}
.myvideo > video {
    min-width: 100%;
    min-height: 100%;
}

.table td, .table th {
     padding: 0rem; 
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.price-cards {
    padding: 0px;
    margin-top: 20px;
    margin-left: 0px;
    float: left;
    background-color: #fafafa;
    align-content: center;
}
/******************* section for insert button********
input[type="file"]{
    display: none;
}
.upload-file{
    height: 40px;
    width: 300px;
    background-color: #cef7b2;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
****/

.dropdown-booking a:hover{
    background-color: #152125;
}

/******************** section for insert button************/
    .file-upload {
        display: inline-flex;
        align-items: center;
        font-size: 15px;
    }

    .file-upload__input {
        display: none;
    }

    .file-upload__button {
        -webkit-appearance: none;
        background: #b1f1e5;
        border: 2px solid #00745D;
        border-radius: 4px;
        outline: none;
        padding: 0.5em 0.8em;
        margin-right: 5px;
        font-size: .9em;
        font-weight: bold;
        cursor: pointer;
    }

    .file-upload__button:active {
        background: #d2fff6;
    }

    .file-upload__label {
        max-width: 250px;
        font-size: 0.95em;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    
    

    @media only screen and (max-width: 1200px) { 
    .card-title{
        display: inline-table;
        }
    .title-one {
        font-size: 14px;
        margin-left: 0;
    }
    .myvideo {
    height:100%;
    width:100%;
    overflow:hidden;
}
.myvideo > video {
    min-width: 100%;
    min-height: 100%;
    }

.allt-section{
    width: 100%;
}
}
@media only screen and (max-width: 600px) { 
    .file-upload{
        max-width: 100%;
        font-size: 14px;
        margin-left: 0;
    }
    .header-window-booking{
        font-size: 20px;
    }
    .allt-section{
    width: 100%;}
}
    