@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    margin: 0px;
    padding: 0px;
}

/***********************Image Header*************************/

.container-fluid {
    margin: 0px;
    width: 100%;
}
.logo {
    margin: 0;
    padding: 0;
    width: 100%;
}

/*.gally {
    margin: 0px;
    padding: 0px;
    width: 100%;
}*/

.card {
    padding: 0px;
    margin: 25px;
    float: left;
    border-bottom:thick #cdd7e6  solid;
}

.gallery {
    width: 55rem;
}

.gally-pic {
    overflow: hidden;
}

.gally-pic img {
    transition: all 1.5s ease;
}

.gally-pic:hover img {
    transform: scale(1.2);
}


/**********************navigation*********************/

.navbar {
    background-color: rgb(74, 153, 226);
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.navbar-nav li {
    text-align: center;
    padding-left: 40px;
}

.navbar-nav li a {
    font-weight: 600;
    color: #fff !important;
}

.fa-bars {
    color: #fff;
    font-size: 30px !important;
}

.navbar-toggler {
    outline: none !important;
}

.dropdown-menu {
    background-color: rgb(74, 153, 226);
}

.navbar a:hover {
    background-color: #282853;
    transition: 0.4s;
}


/*****************************F00ter*****************************/

.footer {
    padding: 0;
    margin: 0;
    width: 100%;
}

.logo {
    font-family: lobster;
    color: #282853;
}

.socials-links li a i {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 12px 0;
    line-height: 7px;
    text-align: center;
    color: #fff;
    background-color: #282853;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.socials-links li a i:hover {
    background-color: rgb(204, 46, 46);
}

.copyright {
    background-color: rgb(74, 153, 226);
    color: #fff;
}

.jumbotron {
    margin: 0;
    width: 100%;
}

.copyright {
    padding: 0;
    margin: 0;
    width: 100%;
}

.card-header {
    color: #282853;
}


/*.vatten {
    width: 1200px;
    opacity: 0.7;
    margin-bottom: -40px;
    border-bottom: thin #183b6a solid;
}*/

.vatten {
    width: 100%;
    height: auto;
}

/********************************Map Section***********************************************/

#map {
    height: 500px; 
    width: 100%;
}

/********************************Contact form Section***********************************************/

.form {
    padding: 0px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
    border: thin #cdd7e6 solid;
}
.email-us-header{
    margin-left: 20px;
    margin-top: 15px;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    margin-left: 20px;
}
.kiki {
width: 60%;
margin-top: 10px;
margin-bottom: 10px;
margin-left: 20px;
}
.kiki2 {width: 80%;
margin-left: 20px; 
}
        
.formy-bottom{border-bottom: thick #cdd7e6 solid;}
/***********************************Media Query************************************/

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}