@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    margin: 0;
}
/************** IMAGES *************************/
*{ box-sizing: border-box; }

/*#logo-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100px;
    max-width: 95%;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    border: 1px solid rgb(252, 249, 249);
    padding: 0px;
    margin-left: 0px;
    
}
    

/*.card {max-width: 200px;
       padding: 0px;
       margin: 25px;

}

.card-desc {text-align: center;
      padding-top: 5px;
      padding-bottom: 5px;
      color: rgb(67, 63, 99);
      text-decoration: none;
 }

.padding{
    margin-top: 15px;
    padding-top: 25px;
    padding-bottom: 5px; 
    background-color: transparent;
}
.gallery {
    height: 100px;
}
/************** NAV BAR ***************
.nav-color-home {
    background-color: #e67e22;
}
.nav-color-home-clean {
    background-color: #ac8c9c;
}
.nav-color-window {
    background-color: #c7c1bc;
}
.nav-color-moving {
    background-color: #228ee6;
}
.nav-color-big {
    background-color: #5657bb;
}
.nav-color-company {
    background-color: #7e6262;
}

   /*************************H0ver.css**********
   .hvr-sweep-to-bottom:before {
       background-color: rgba(0, 0, 0, 0.2);
       height: 115px;
   }******/
/***********************Image Header*************************/
.gallery{
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid rgb(247, 217, 217);
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.card {
       padding: 0px;
       margin: 20px;
       float: left;
}
.pop2 {
    width: 50rem;
}
.inner{
    overflow: hidden;
}
.inner img {
    transition: all 1.5s ease;
}
.inner:hover img {transform: scale(1.2);
}
/**********************navigation*********************/
