{% extends "index.html" %}


{% block content %}
<h3 class="header my-4" style="text-align: center;">Boka städning
    <hr style="width: 200px; background-color: #4998ee;">
</h3>

<section class="container add_task">
    <div class="row">
        <div class="col-12">
            <div class="card information" style="width: 100%;">
                <div class="card-body">
                    <form class="text-center" method="POST" action="{{ url_for('add_task') }}">
                        <!-------------section for select cleaning section------------------------>
                        <div class="row">
                            <div class="col-sm-12 my-3" style="display: inline-block;">
                                <i class="fa fa-folder-open mr-2" aria-hidden="true" style="font-size: xx-large; max-width: 20%;"></i>
                                <select id="category_name" name="category_name" class="custom-select custom-select-lg mb-3" style="width: 80%;" required>
                                    <option selected>Window Cleaning</option>
                                    <option value="Home Cleaning">Home Cleaning</option>
                                    <option value="Big Cleaning">Big Cleaning</option>
                                    <option value="Company Cleaning">Company Cleaning</option>
                                    <option value="Moving Cleaning">Moving Cleaning</option>
                                    <option value="Steps Cleaning">Steps Cleaning</option>
                                    <option value="Office Cleaning">Office Cleaning</option>
                                </select>
                            </div>
                        </div>
                        <!-------------section for additional information------------------------>
                        <div class="row">
                            <div class="col-sm-12 my-3 additional_info">
                                <i class="fa fa-align-left mr-2" aria-hidden="true" style="font-size: xx-large; max-width: 20%;"></i>
                                <label for="any_additional_information" style="width: 80%;">
                                    <textarea class="form-control" id="any_additional_information" type="text" name="any_additional_information" rows="3" placeholder="How often do you want a clean" required></textarea>
                                </label>
                            </div>
                        </div>
                        <!-------------section for time & date------------------------>
                        <div class="row">
                            <div class="col-sm-12 my-3" style="display: inline-block;">
                                <i class="fa fa-calendar mr-2" aria-hidden="true" style="font-size: xx-large; max-width: 20%;"></i>
                                <label for="time_and_date"  style="width: 80%;">
                                    <input class="form-control" id="time_and_date" type="datetime-local" name="time_and_date" min="2021-07-01 00:00" max="2021-07-31 00:00"
                                    value="2021-07-12 00:00" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}" placeholder="Date & Time" required>
                                </label>
                                <span class="validity"></span>
                            </div>
                        </div>
                        <!-------------section for how often--------------
                        <div class="row">
                            <div class="col-sm-12 my-3" style="display: inline-block;">
                                <i class="fa fa-list-ol mr-2" aria-hidden="true" style="font-size: xx-large; max-width: 20%;"></i>
                                <label for="how_often" style="width: 80%;">
                                <select class="custom-select mr-sm-2" id="how_often">
                                    <option value="1">Once A Month</option>
                                    <option value="2">Twice A Month</option>
                                    <option value="3">Trice A Month</option>
                                    <option value="3">fourth A Month</option>
                                </select>
                                </label>
                            </div>
                        </div>---------->
                        <!-------------section for address------------------------>
                        <div class="row">
                            <div class="col-sm-12 my-3" style="display: inline-block;">
                                <i class="fa fa-home mr-2" aria-hidden="true" style="font-size: xx-large; max-width: 20%;"></i>
                                <label for="address" style="width: 80%;">
                                    <input type="text" class="form-control" name="address" id="address" placeholder="Address" required>
                                </label>
                            </div>
                        </div>
                        <!-------------section for phone number------------------------>
                        <div class="row">
                            <div class="col-sm-12 my-3" style="display: inline-block;">
                                <i class="fa fa-phone mr-2" aria-hidden="true" style="font-size: xx-large; max-width: 20%;"></i>
                                <label for="phone_number" style="width: 80%;">
                                    <input type="text" class="form-control" name="phone_number" id="phone_number" placeholder="Phone Number" required>
                                </label>
                            </div>
                        </div>
                        <!-------------section for full name------------------------>
                        <div class="row">
                            <div class="col-sm-12 my-3" style="display: inline-block;">
                                <i class="fa fa-user mr-2" aria-hidden="true" style="font-size: xx-large; max-width: 20%;"></i>
                                <label for="full_name" style="width: 80%;">
                                    <input type="text" class="form-control" name="full_name" id="full_name" placeholder="Full Name"
                                        required>
                                </label>
                            </div>
                        </div>
                        <!-------------section for button------------------------>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary button btn-lg">Submit  <i class="fa fa-plus-square right ml-2"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}