{% extends "index.html" %}

{% block content %}
<!-------------------------------------prices section----------------------------------------------------->
<section class="container">
    <h3 class="mt-4" style="text-align: center;">Storstädning
        <hr style="width: 100px; background-color: #4998ee;">
    </h3>
    <div class="row">
        <div class="col-12 home-cleaning-image">
            <img class="" src="{{ url_for('static', filename='images/big-cleaning-image.jpg') }}"
                style="width: 100%; height: 30vw; padding-right: 15px;" alt="">
        </div>

        <div class="col-lg-9">
            <div class="card information">
                <div class="card-body">
                    <p>En professionell storstädning kan hjälpa dig att bli kär i ditt hem igen. Vi rekommenderar också
                        en storstädning som en förstagångsstädning.
                        Vi gör rent allt överallt från golv till tak. Vi är stolta över att göra och utmärkt arbete som
                        erbjuder dig en service av hög kvalitet, vilket gör att våra kunder är
                        nöjda
                    </p>

                    <p></p><strong> Boka för ett gratis hembesök eller boka storstädning direkt! </strong></p>
                    <p>
                    <ul class="uls">
                        <li class="lis"><a class="as" href="{{ url_for('home_visit') }}">Boka besök</a></li>
                        <li class="lis"><a class="as" href="{{ url_for('big_booking') }}">Boka storstäd</a></li>
                    </ul>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col" style="margin-bottom: -15px;">
                    <h5 class="text-center">I en storstädning ingår följande.</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="padding-right: 0px;">
                    <div class="card information" style="width: 100%;">
                        <div class="card-body">
                            <h5 class="rum " style="margin-top: 0px; color: black;">Vardagsrum: </h5>
                            <p>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Torkar av damm på alla plana ytor.
                                <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> dammtorkning av all möbler och
                                lampor. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> putsning av speglar. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> rengöring av lister, dörrar och
                                dörrkarmar. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> rengöring av skåp och lådor
                                (utvändigt). <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Dammtorkning av hyllor och tavlor..
                                <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Tömning av papperskorgar. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Dammsugning av golv och mattor. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> moppning av golv. <br>
                            </p>
                            <br>
                            <hr class="my-4" style="background-color: #cdd7e6; height: 1px;">
                            <h5 class="badrum" style="margin-top: 0px;">Sovrum: </h5>
                            <p>
                                <i class="fa fa-check" style="color: #4998ee;"></i> dammsugning och skakning av mattor.
                                <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> moppning av golv. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> bäddar sängar. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> putsning av speglar. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> rengöring av lister, socklar och
                                dörrar och
                                dörrkarmar. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> dammtorkning av möbler och lampor.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="padding-right: 0px;">
                    <div class="card information">
                        <div class="card-body">
                            <h5 class="kök" style="margin-top: 0px;">Kök: </h5>
                            <p>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Rengöring av disk/köksbänk, kakel.
                                <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Avtorkning av köksskåp och
                                köksluckor
                                (utvändigt). <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Rengöring av kyl- och frysskåp
                                utvändigt.. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Rengöring av spis och mikrovågsugnar
                                (in och
                                utvändigt). <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Avtorkning av vitvaror och fläkt.
                                <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Rengöring av golv, lister och
                                socklar. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Avtorkning av köksskåp och
                                köksluckor
                                (utvändigt). <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Avtorkning av dörrar och
                                fönsterbräden. <br>

                            </p>
                            <br>
                            <hr class="my-4" style="background-color: #cdd7e6; height: 1px;">
                            <h5 class="badrum" style="margin-top: 0px;">Badrum och toaletter: </h5>
                            <p>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Rengöring av badkar, handfat,
                                toalett och kakelväggar. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Putsning av speglar. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> rengöring av vitvarors utsida. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Kranar och vattenledningar rengörs.
                                <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> avtorkning av badrumsskåp utvändigt.
                                <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Tvättmaskinen och torkskåp
                                rengörsutvändigt <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> tömmer papperskorgar.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card information" style="width: 100%;">
                <div class="card-body">
                    <h5 class="" style="margin-top: 0px;">Tjänster som bokas separat: </h5>
                    <p>
                        <i class="fa fa-check" style="color: #4998ee;"></i> Invändig rengöring av kylskåpet (30 min).
                        <br>
                        <i class="fa fa-check" style="color: #4998ee;"></i> Invändig rengöring av sopsorteringsskåp (15
                        min). <br>
                        <i class="fa fa-check" style="color: #4998ee;"></i> Balkongstädning (15 min). <br>
                        <i class="fa fa-check" style="color: #4998ee;"></i> Fönsterputsning. <br>
                        <i class="fa fa-check" style="color: #4998ee;"></i> Rengöring av ugn, ugnsgaller och plåtar(in
                        och utvändigt) (90 min).
                    </p>
                </div>
            </div>
            <div class="card information" style="padding-right: 0; width: 100%;">
                <div class="card-body">
                    <p></p><strong> Boka för ett gratis hembesök eller boka storstädning direkt! </strong></p>
                    <p>
                    <ul class="uls">
                        <li class="lis"><a class="as" href="{{ url_for('home_visit') }}">Boka besök</a></li>
                        <li class="lis"><a class="as" href="{{ url_for('big_booking') }}">Boka storstäd</a></li>
                    </ul>
                    </p>
                    <hr class="" style="background-color: #cdd7e6; height: 1px; margin-top: 50px;">
                    <p></p>
                    <h5 class="text-center my-4" style="margin-top: 0px;">Priser storstädning</h5>
                    <p>
                        <i class="fa fa-marker" style="color: black; font-size: xx-large;">.</i> Priset är vad kunden
                        betalar efter
                        RUT-avdrag.
                    </p>
                    <p>
                        <i class="fa fa-marker" style="color: black; font-size: xx-large;">.</i> 225 kr per timme.
                        Startavgift 110 kr.
                    </p>
                </div>
            </div>
        </div>

        <!----------------------Section Contact in body------------------------------------------------------------>
        <div class="col-lg-3">
            <div class="card border-primary mb-3" style="width:100%; justified-content-center">
                <div class="card-header">
                    <h5>Kontakt Oss</h5>
                </div>
                <div class="card-body text-primary">
                    <a href="tel:0720107276"><i class="fa fa-phone" aria-hidden="true"></i> : 0720107276</a>
                    <br />
                    <a target="_blank" href="contact.html"><i class="fa fa-envelope-o" aria-hidden="true"></i> :
                        info@nilssonsstadtjanst.se</a>
                    <br />
                    <a target="_blank" href="https://nilsonsstädtjänst.se/"><i class="fa fa-globe"
                            aria-hidden="true"></i> :
                        https://nilsonsstädtjänst.se</a>
                    <br />
                    <a target="_blank"
                        href="https://www.google.com/maps/place/Sundsgatan+35,+661+42+S%C3%A4ffle/@59.1302538,12.9298516,17z/data=!3m1!4b1!4m5!3m4!1s0x4644a8985505ee95:0x9daef44078fbed9f!8m2!3d59.1302538!4d12.9320403"><i
                            class="fa fa-location-arrow" aria-hidden="true"></i> :
                        Företagets plats</a>
                </div>
            </div>

            <!----------------------Section Opening Hours in body------------------------------------------------------------>
            <div class="card border-secondary mb-3" style="width:100%; justified-content:center">
                <div class="card-header">
                    <h5>Telefontider</h5>
                </div>
                <div class="card-body table">
                    <tr>
                        <td><strong>Mån-Fre:</strong>&nbsp&nbsp 7:00 - 19:00
                        </td>
                    </tr>
                    <br />
                    <tr>
                        <td><strong>Lördag:</strong>&nbsp&nbsp&nbsp&nbsp 7:00 - 16:00
                        </td>
                    </tr>
                    <br />
                    <tr>
                        <td><strong>Söndag:</strong>&nbsp&nbsp&nbsp Stängt
                        </td>
                    </tr>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}