{% extends "index.html" %}


{% block content %}
<h3 class="header my-4" style="text-align: center;">Book Visit
    <hr style="width: 200px; background-color: #4998ee;">
</h3>

<section class="container">
    <div class="row">
        <div class="col-12">
            <div class="card information" style="width: 100%;">
                <div class="card-body">
                    <form class="text-center" method="POST" action="{{ url_for('home_visit') }}">
                        <!-------------section for select cleaning section------------------------>
                        <div class="row">
                            <div class="col-sm-12 my-3" style="display: inline-block;">
                                <i class="fa fa-folder-open mr-2" aria-hidden="true"
                                    style="font-size: xx-large; max-width: 20%;"></i>
                                <select id="category_name" name="category_name"
                                    class="custom-select custom-select-lg mb-3" style="width: 80%;" required>
                                    <option selected>Hem Besök</option>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            Boka städning
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" href="{{ url_for('window_booking') }}">Fönsterputsning</a>
                                            <a class="dropdown-item" href="{{ url_for('home_booking') }}">Hemstädning</a>
                                            <a class="dropdown-item" href="{{ url_for('big_booking') }}">Storstädning</a>
                                            <a class="dropdown-item" href="{{ url_for('moving_booking') }}">Flyttstädning</a>
                                            <a class="dropdown-item" href="{{ url_for('step_booking') }}">Trappstädning</a>
                                            <a class="dropdown-item" href="{{ url_for('boutique_booking') }}">Butiksstädning</a>
                                            <a class="dropdown-item" href="{{ url_for('company_booking') }}">Företagsstädning /
                                                Kontorstädning</a>
                                            <a class="dropdown-item" href="{{ url_for('office_booking') }}"></a>
                                        </div>
                                    </li>
                                </select>
                            </div>
                        </div>

                        <!-------------section for date------------------------>
                        <div class="row">
                            <div class="col-sm-12 my-3" style="display: inline-block;">
                                <i class="fa fa-calendar mr-2" aria-hidden="true"
                                    style="font-size: xx-large; max-width: 20%;"></i>
                                <label for="time_and_date" style="width: 80%;">
                                    <input class="form-control" id="time_and_date" type="date" name="time_and_date"
                                        value="dd/dd-mm-yy" required>
                                </label>
                                <span class="validity"></span>
                            </div>
                        </div>
                        <!-------------section for time-----------------
                        <div class="row">
                            <div class="col-sm-12 my-3" style="display: inline-block;">
                                <i class="fa fa-clock-o mr-2" aria-hidden="true" style="font-size: xx-large; max-width: 20%;"></i>
                                <label for="time_and_date" style="width: 80%;">
                                    <input class="form-control" id="time_and_date" type="datetime-local" name="time_and_date"
                                        min="2021-07-01 00:00" max="2021-07-31 00:00" value="2021-07-12 00:00"
                                        pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}" placeholder="Date & Time" required>
                                </label>
                                <span class="validity"></span>
                            </div>
                        </div>------>
                        <!-------------section for address------------------------>
                        <div class="row">
                            <div class="col-sm-12 my-3" style="display: inline-block;">
                                <i class="fa fa-home mr-2" aria-hidden="true"
                                    style="font-size: xx-large; max-width: 20%;"></i>
                                <label for="address" style="width: 80%;">
                                    <input type="text" class="form-control" name="address" id="address"
                                        placeholder="Adress" required>
                                </label>
                            </div>
                        </div>
                        <!-------------section for phone number------------------------>
                        <div class="row">
                            <div class="col-sm-12 my-3" style="display: inline-block;">
                                <i class="fa fa-phone mr-2" aria-hidden="true"
                                    style="font-size: xx-large; max-width: 20%;"></i>
                                <label for="phone_number" style="width: 80%;">
                                    <input type="text" class="form-control" name="phone_number" id="phone_number"
                                        placeholder="Telefonnummer" required>
                                </label>
                            </div>
                        </div>
                        <!-------------section for email------------------------>
                        <div class="row">
                            <div class="col-sm-12 my-3" style="display: inline-block;">
                                <i class="fa fa-envelope-o mr-2" aria-hidden="true" style="font-size: xx-large; max-width: 20%;"></i>
                                <label for="email" style="width: 80%;">
                                    <input type="text" class="form-control" name="email" id="email" placeholder="E-post">
                                </label>
                            </div>
                        </div>
                        <!-------------section for full name------------------------>
                        <div class="row">
                            <div class="col-sm-12 my-3" style="display: inline-block;">
                                <i class="fa fa-user mr-2" aria-hidden="true"
                                    style="font-size: xx-large; max-width: 20%;"></i>
                                <label for="full_name" style="width: 80%;">
                                    <input type="text" class="form-control" name="full_name" id="full_name"
                                        placeholder="Ditt Namn" required>
                                </label>
                            </div>
                        </div>
                        <!-------------section for button------------------------>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary button btn-lg">SKICKA IN <i
                                        class="fa fa-plus-square right ml-2"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}