{% extends "index.html" %}

{% block content %}
<!-------------------------------------prices section----------------------------------------------------->
<section class="container">
    <div class="row">
        <h3 class="offset-3 mt-4" style="text-align: center;">Butiksstädning
            <hr style="width: 100px; background-color: #4998ee;">
        </h3>
        <div class="col-lg-8">
            <div class="card information">
                <div class="card-body">
                    <p>
                        Att ha rent och fräscht i sin butikslokal är viktigt för att kunderna ska känna sig välkomna och för förtroende för
                        butiken samt för personalens välmående.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col" style="margin-bottom: -15px;">
                    <h5 class="text-center"> Vad ingår i vår butiksstädning? </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="padding-right: 0px; padding-right: 5px;">
                    <div class="card information">
                        <div class="card-body">
                            <h5 class="rum " style="margin-top: 0px;">Butikslokal: </h5>
                            <p>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Dammtorkning av fria ytor. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Torrmoppning eller dammsugning av golv, våttorkning vid behov. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Dammsugning av mjuka mattor. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Tömning av papperskorgar. <br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="padding-right: 0px; padding-left: 5px;">
                    <div class="card information">
                        <div class="card-body">
                            <h5 class="kök" style="margin-top: 0px;">Lunchrum: </h5>
                            <p>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Dammtorkning av fria ytor.
                                <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Avtorkning av bord och stolar. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Rengöring av arbetsbänkar.<br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Diskhantering utförs vid beställning. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Torrmoppning eller dammsugning av golv, våttorkning vid behov. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Tömning av papperskorgar. <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="padding-right: 0px;">
                    <div class="card information">
                        <div class="card-body">
                            <h5 class="rum " style="margin-top: 0px;">Toaletter och tvättrum: </h5>
                            <p>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Rengöring av sanitär inredning samt särskilt utsatta väggytor. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Torrmoppning eller dammsugning av golv, samt våttorkning. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Påfyllning av toalettpapper, pappershanddukar och flytande tvål. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Tömning av papperskorgar. <br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="padding-right: 0px;">
                    <div class="card information">
                        <div class="card-body">
                            <h5 class="kök" style="margin-top: 0px;">Entréer och korridorer: </h5>
                            <p>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Torrmoppning eller dammsugning av golv, våttorkning vid behov..
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col" style="padding-right: 0;">
                    <p class="text-center" style="background-color: #d9edf7; padding: 10px;"> Allt detta anpassas naturligtvis efter
                        just era behov. </p>
                </div>
            </div>
            <div class="card information" style="width: 100%;">
                <div class="card-body">
                    <h5 class="text-center my-3" style="margin-top: 0px;"> Priser Butiksstädning </h5>
                    <p>
                        367 kr per timme. <br>
                        Startavgift: 96 kr per städtillfälle. <br>
                        Alla priser ex moms. <br>
                        Vi har med oss all städmaterial och städutrustning, så inget mer tillkommer. <br>
                    <p><strong>Kontakta oss idag för ett gratis hembesök och prisoffert!</strong></p>
                    </p>
                    <p>
                        <a href="#" style="margin-top: 20px; display: flex; align-items: center;"
                            class="btn btn-outline-primary button btn-sm active" role="button" aria-pressed="true"> &nbsp &nbsp Book
                            Now</a>
                    </p>
                </div>
            </div>
        </div>

        <!----------------------Section Contact in body------------------------------------------------------------>
        <div class="col-lg-4">
            <div class="card border-primary mb-3" style="width:100%; justified-content-center">
                <div class="card-header">
                    <h5>Kontakt</h5>
                </div>
                <div class="card-body text-primary">
                    <a href="tel:0720107276"><i class="fa fa-phone" aria-hidden="true"></i> : 0720107276</a>
                    <br />
                    <a target="_blank" href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> :
                        gerardbulky@gmail.com</a>
                    <br />
                    <a target="_blank" href="https://superclean.se/"><i class="fa fa-globe" aria-hidden="true"></i> :
                        https://superclean.se</a>
                    <br />
                    <a target="_blank"
                        href="https://www.google.com/maps/place/Sundsgatan+35,+661+42+S%C3%A4ffle/@59.1302538,12.9298516,17z/data=!3m1!4b1!4m5!3m4!1s0x4644a8985505ee95:0x9daef44078fbed9f!8m2!3d59.1302538!4d12.9320403"><i
                            class="fa fa-location-arrow" aria-hidden="true"></i> :
                        Location</a>
                </div>
            </div>

            <!----------------------Section Opening Hours in body------------------------------------------------------------>
            <div class="card border-secondary mb-3" style="width:100%; justified-content-center">
                <div class="card-header">
                    <h5>Telefontider</h5>
                </div>
                <div class="card-body table">
                    <tr>
                        <td>
                            <strong>Mån-Fre:</strong>
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 7:00 - 16:00

                        </td>
                    </tr>
                    <br />
                    <tr>
                        <td>
                            <strong>Lörday:</strong>
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Closed
                        </td>
                    </tr>
                    <br />
                    <tr>
                        <td>
                            <strong>Sönday:</strong>
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            Closed
                        </td>
                    </tr>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}