{% extends "index.html" %}

{% block content %}
<!-------------------------------------prices section----------------------------------------------------->
<section class="container">
    <div class="row">
        <h3 class="offset-3 mt-4" style="text-align: center;">Företagsstädning
            <hr style="width: 100px; background-color: #4998ee;">
        </h3>
        <div class="col-lg-9">
            <div class="card information">
                <div class="card-body">
                    <p>
                        Att hålla ditt lokaler rent gör att du och din personal mår bättre på företaget och trivs bättre
                        i ditt utrymme, vilket
                        ger dig ett bättre humör och mer produktivitet. Nilssons städtjänst tillhandahåller dig med
                        utmärkt tjänster för att detta ska bli
                        verklighet.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col" style="margin-bottom: -15px;">
                    <h5 class="text-center"> Vad ingår i vår företagsstädning? </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="padding-right: 0px; padding-right: 5px;">
                    <div class="card information">
                        <div class="card-body">
                            <h5 class="rum " style="margin-top: 0px;">Kontor: </h5>
                            <p>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Dammtorkning av åtkomliga ytor. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Dammsugning och fuktmoppning av
                                golv. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Tömning av papperskorgar. <br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="padding-right: 0px; padding-left: 5px;">
                    <div class="card information">
                        <div class="card-body">
                            <h5 class="kök" style="margin-top: 0px;">Lunchrum: </h5>
                            <p>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Avtorkning av arbetsbänk och
                                diskbänk.
                                <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Avtorkning av matbord. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Rengöring av arbetsbänkar.<br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Avtorkning av kaffemaskin. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Rengöring av mikrovågsugnar (in och
                                utvändigt). <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Dammsugning och fuktmoppning av
                                golv. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Tömma papperskorgar/ avfallskorgar.
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="padding-right: 0px;">
                    <div class="card information">
                        <div class="card-body">
                            <h5 class="rum " style="margin-top: 0px;">Toaletter och tvättrum: </h5>
                            <p>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Sanitära enheter rengörs. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Avfläcka dörrar, dörrkarmar samt yta
                                omkring. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Tömma papperskorgar/ avfallskorgar.
                                <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Fylla på förbrukningsmaterial <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Våttorka golv. <br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="padding-right: 0px;">
                    <div class="card information">
                        <div class="card-body">
                            <h5 class="kök" style="margin-top: 0px;">Entréer och korridorer: </h5>
                            <p>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Dammtorka fria ytor på möbler.
                                <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Dammsugning och fuktmoppning av
                                golv.
                                <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card information" style="width: 100%;">
                <div class="card-body">
                    <p><strong>Boka idag för ett gratis hembesök och prisoffert eller Företagsstädning direkt!</strong>
                    </p>
                    <p>
                    <ul class="uls">
                        <li class="lis"><a class="as" href="{{ url_for('home_visit') }}">Boka besök</a></li>
                        <li class="lis"><a class="as" href="{{ url_for('company_booking') }}">Boka företagstäd</a></li>
                    </ul>
                    </p>
                    <hr class="" style="background-color: #cdd7e6; height: 1px; margin-top: 50px;">
                    <h5 class="text-center my-3" style="margin-top: 0px;"> Priser Företagsstädning </h5>
                    <p>
                        359 kr per timme. <br>
                        Startavgift: 90 kr per städtillfälle. <br>
                        Vi tillhandahåller material och utrustning för städningen. <br>
                    </p>
                </div>
            </div>
        </div>

        <!----------------------Section Contact in body------------------------------------------------------------>
        <div class="col-lg-3">
            <div class="card border-primary mb-3" style="width:100%; justified-content-center">
                <div class="card-header">
                    <h5>Kontakt</h5>
                </div>
                <div class="card-body text-primary">
                    <a href="tel:0720107276"><i class="fa fa-phone" aria-hidden="true"></i> : 0720107276</a>
                    <br />
                    <a target="_blank" href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> :
                        gerardbulky@gmail.com</a>
                    <br />
                    <a target="_blank" href="https://superclean.se/"><i class="fa fa-globe" aria-hidden="true"></i> :
                        https://superclean.se</a>
                    <br />
                    <a target="_blank"
                        href="https://www.google.com/maps/place/Sundsgatan+35,+661+42+S%C3%A4ffle/@59.1302538,12.9298516,17z/data=!3m1!4b1!4m5!3m4!1s0x4644a8985505ee95:0x9daef44078fbed9f!8m2!3d59.1302538!4d12.9320403"><i
                            class="fa fa-location-arrow" aria-hidden="true"></i> :
                        Företagets plats</a>
                </div>
            </div>

            <!----------------------Section Opening Hours in body------------------------------------------------------------>
            <div class="card border-secondary mb-3" style="width:100%; justified-content-center">
                <div class="card-header">
                    <h5>Telefontider </h5>
                </div>
                <div class="card-body table">
                    <tr>
                        <td><strong>Mån-Fre:</strong>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 7:00 - 16:00
                        </td>
                    </tr>
                    <br />
                    <tr>
                        <td><strong>Lördag:</strong>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 9:00 - 16:00
                        </td>
                    </tr>
                    <br />
                    <tr>
                        <td><strong>Söndag:</strong>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            9:00 - 13:00
                        </td>
                    </tr>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}