{% extends "index.html" %}


{% block content %}
    <!-------------------------------------Map Section-------------------------------------------------------->
    <div class="container contact-header">
        <h4>Contact</h4>
    </div>
    <section class="container">
        <div class="row">
            <div class="col-md-8">
                <div id="map"></div>
                <!-------------------------------------Contact Form--------------------------------------------------------->
    
                <div class="form contact-bottom">
                    <div class="email-us-header">
                        <h6>
                            Send An Email.
                            
                            
                        </h6>
                    </div>
                    <form id="contact-form">
                        <input type="text" name="name" id="fullname" class="form-control kiki" placeholder="Name"
                            required />
                        <input type="email" name="email" id="emailaddress" class="form-control kiki" placeholder="Email"
                            required />
                        <input type="text" name="subject" id="subject" class="form-control kiki" placeholder="Subject"
                            required />
                        <textarea name="messagesummary" id="messagesummary" rows="5" class="form-control kiki2"
                            placeholder="Message"></textarea>
                        <div class="form-row">
                            <div class="col">
                                <button id="button" type="submit" class="btn btn-primary">
                                    Send Message
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
    
            <!----------------------Section Contact in body------------------------------------------------------------>
            <div class="col-md-4">
                <div class="card border-primary mb-3" style="width:100%; content-center">
                    <div class="card-header">
                        <h5>Contact</h5>
                    </div>
                    <div class="card-body text-primary">
                        <a href="tel:0720107276"><i class="fa fa-phone" aria-hidden="true"></i> : 0720107276</a>
                        <br />
                        <a target="_blank" href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> :
                            gerardbulky@gmail.com</a>
                        <br />
                        <a target="_blank" href="https://superclean.se/"><i class="fa fa-globe" aria-hidden="true"></i> :
                            https://superclean.se</a>
                        <br />
                        <a target="_blank"
                            href="https://www.google.com/maps/place/Sundsgatan+35,+661+42+S%C3%A4ffle/@59.1302538,12.9298516,17z/data=!3m1!4b1!4m5!3m4!1s0x4644a8985505ee95:0x9daef44078fbed9f!8m2!3d59.1302538!4d12.9320403"><i
                                class="fa fa-location-arrow" aria-hidden="true"></i> :
                            Location</a>
                    </div>
                </div>
                <!----------------------Section Opening Hours in body------------------------------------------------------------>
                <div class="card border-secondary mb-3" style="width:100%; content-center">
                    <div class="card-header">
                        <h5>Opening Hours</h5>
                    </div>
                    <div class="card-body table">
                        <tr>
                            <td>
                                <strong>Mon-Fri:</strong>
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 7:00 - 16:00
    
                            </td>
                        </tr>
                        <br />
                        <tr>
                            <td>
                                <strong>Saturday:</strong>
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Closed
                            </td>
                        </tr>
                        <br />
                        <tr>
                            <td>
                                <strong>Sunday:</strong>
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                Closed
                            </td>
                        </tr>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}