{% extends "index.html" %}

{% block content %}
    <section class="container">
        <h3 class="header my-4 offset-4"> RUT </h3>
        <hr class="offset-4" style="width: 50px; background-color: #4998ee; margin-top: 0;">        
        <div class="row">
            <div class="col-lg-8">
                <!----------------------About Our Company content in body------------------------------------------------------------>
                <div class="card information">
                    <div class="card-body">
                        <strong>HALVA PRISET!</strong>
                        <p></p>
                        <p>
                            Tack vare RUT kan du som privatperson få 50% avdrag på alla tjänster, vilket innebär att du bara betalar halva priset.
                            Alla priser på vår hemsida är efter att RUT-avdraget är gjort.
                        </p>
                        <p></p>
                        <p>
                            Dessutom erbjuder vi 50% rabatt på din andra hemstädabonnemang (abonnemangstjänster), till alla våra nya kunder.
                        </p>
                        <p></p>
                        <p class="rut-link text-center" style="background-color: #4998ee; padding: 10px;">
                            <a style="color: #fff;" href="https://www.skatteverket.se/privat/skatter/fastigheterbostad/rotrutarbete.4.2e56d4ba1202f95012080002966.html">
                            Vill du veta mer on RUT och ROT? <span> <strong> Klicka här </strong></span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
    
            <!----------------------Section Contact in body------------------------------------------------------------>
            <div class="col-lg-4">
                <div class="card border-primary mb-3" style="width:100%; justified-content-center">
                    <div class="card-header">
                        <h5>Kontakt</h5>
                    </div>
                    <div class="card-body text-primary">
                        <a href="tel:0720107276"><i class="fa fa-phone" aria-hidden="true"></i> : 0720107276</a>
                        <br />
                        <a target="_blank" href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> :
                            gerardbulky@gmail.com</a>
                        <br />
                        <a target="_blank" href="https://superclean.se/"><i class="fa fa-globe" aria-hidden="true"></i> :
                            https://superclean.se</a>
                        <br />
                        <a target="_blank"
                            href="https://www.google.com/maps/place/Sundsgatan+35,+661+42+S%C3%A4ffle/@59.1302538,12.9298516,17z/data=!3m1!4b1!4m5!3m4!1s0x4644a8985505ee95:0x9daef44078fbed9f!8m2!3d59.1302538!4d12.9320403"><i
                                class="fa fa-location-arrow" aria-hidden="true"></i> :
                            Företagets plats</a>
                    </div>
                </div>
    
                <!----------------------Section Opening Hours in body------------------------------------------------------------>
                <div class="card border-secondary mb-3" style="width:100%; justified-content-center">
                    <div class="card-header">
                        <h5>Telefontider </h5>
                    </div>
                    <div class="card-body table">
                        <tr>
                            <td><strong>Mån-Fre:</strong>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 7:00 - 16:00
                            </td>
                        </tr>
                        <br />
                        <tr>
                            <td><strong>Lördag:</strong>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 9:00 - 16:00
                            </td>
                        </tr>
                        <br />
                        <tr>
                            <td><strong>Söndag:</strong>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                9:00 - 13:00
                            </td>
                        </tr>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}