{% extends "index.html" %}

{% block content %}
<!-------------------------------------prices section----------------------------------------------------->
<section class="container">
    <div class="row">
        <h3 class="offset-3 mt-4" style="text-align: center;">Hemstädning
            <hr style="width: 100px; background-color: #4998ee;">
        </h3>

        <div class="col-md-8">
            <div class="card information">
                <div class="card-body" style="width: 100%;">
                    <p>
                        Billigaste och enklaste sättet att öka sin livskvalitet!
                        Städa är det sista du vill ägna dig åt när du kommer hem efter en stressig arbetsdag. Hemstädning från oss på Allt
                        Städjänst AB ger dig tid över till andra saker och människorna du bryr dig om. Så låt oss sköta hemstädningen åt dig. Vi kan
                        hjälpa dig med alla typer av städning. Inget jobb är för litet eller för stort.
                    </p>
                        
                    <p></p><strong> Kontakta oss för ett gratis hembesök! </strong></p>
                </div>
            </div>
            <div class="row">
                <div class="col" style="margin-bottom: -15px;">
                    <h5 class="text-center"> Vad ingår i vår Hemstädning? </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="padding-right: 0px;">
                    <div class="card information" style="width: 100%;">
                        <div class="card-body">
                            <h5 class="rum " style="margin-top: 0px;">Alla rum: </h5>
                            <p> <strong>
                                Dammtorkning av:
                            </strong>
                            </p>  
                            <p>  
                                <i class="fa fa-check" style="color: #4998ee;"></i> Horisontella ytor upp till 1,5 m, samt tv, dvd, stereo och tavlor. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Fönsterbrädor. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Socklar och lister, efter behov. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Vägguttag och strömbrytare, efter behov. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Dammtorkning eller dammsugning av möbler. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Putsning av speglar. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Dammsugning av golv och mattor. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Våttorkning av golv. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Rengöring av dörrar och dörrkarmar, efter behov. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Damning av väggar och tak, efter behov. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Rengöring av ventiler, efter behov. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Tömning av papperskorgar. <br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="padding-right: 0px;">
                    <div class="card information">
                        <div class="card-body">
                            <h5 class="kök" style="margin-top: 0px;">Kök: </h5>
                            <p>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Rengöring av skåp, lådor, luckor och snickerier. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Rengöring av mikrovågsugn invändigt alla övriga vitvaror utvändigt. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Rengöring av diskbänk, arbetsbänk och köksbord. <br>
                            </p>
                            <br>
                            <hr class="my-4" style="background-color: #cdd7e6; height: 1px;">
                            <h5 class="badrum" style="margin-top: 0px;">Badrum och toaletter: </h5>
                            <p>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Rengöring av väggar (kakel och klinker). <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Avtorkning av badrumsskåp samt putsning av speglar. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Rengöring av toalettstol, handfat, duschkabin och badkar. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Avtorkning av vattenrör, vid behov.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
                <div class="card information" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="text-center my-3" style="margin-top: 0px;"> Priser hemstädning </h5>
                        <p>
                            Alla priser är vad du som kund betalar efter RUT-avdrag.
                        </p>
                        <p>
                            229 kr per timme.
                        </p>
                        <p>
                            Startavgift 120 kr per städtillfälle.
                        </p>
                        <p>
                            (Om din bostad ligger långt bort kan ytterligare kostnad tillkomma.)
                        </p>
                        <p>
                            Vi har med oss all städmaterial och städutrustning, så inget mer tillkommer.
                        </p>
                
                        <p></p><strong> Kontakta oss för ett gratis hembesök! </strong></p>
                        <p>
                            <a href="{{ url_for('home_booking') }}" style="margin-top: 20px; display: flex; align-items: center;"
                                class="btn btn-outline-primary button btn-sm active" role="button" aria-pressed="true"> &nbsp &nbsp Book Now</a>
                        </p>
                    </div>
                </div>
            
        </div>

        <!----------------------Section Contact in body------------------------------------------------------------>
        <div class="col-md-4">
            <div class="card border-primary mb-3" style="width:100%; justified-content-center">
                <div class="card-header">
                    <h5>Kontakt Oss</h5>
                </div>
                <div class="card-body text-primary">
                    <a href="tel:0720107276"><i class="fa fa-phone" aria-hidden="true"></i> : 0720107276</a>
                    <br />
                    <a target="_blank" href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> :
                        gerardbulky@gmail.com</a>
                    <br />
                    <a target="_blank" href="https://superclean.se/"><i class="fa fa-globe" aria-hidden="true"></i> :
                        https://superclean.se</a>
                    <br />
                    <a target="_blank"
                        href="https://www.google.com/maps/place/Sundsgatan+35,+661+42+S%C3%A4ffle/@59.1302538,12.9298516,17z/data=!3m1!4b1!4m5!3m4!1s0x4644a8985505ee95:0x9daef44078fbed9f!8m2!3d59.1302538!4d12.9320403"><i
                            class="fa fa-location-arrow" aria-hidden="true"></i> :
                        Location</a>
                </div>
            </div>

            <!----------------------Section Opening Hours in body------------------------------------------------------------>
            <div class="card border-secondary mb-3" style="width:100%; justified-content-center;">
                <div class="card-header">
                    <h5>Telefontider</h5>
                </div>
                <div class="card-body table">
                    <tr>
                        <td>
                            <strong>Mon-Fri:</strong>
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 7:00 - 16:00

                        </td>
                    </tr>
                    <br />
                    <tr>
                        <td>
                            <strong>Saturday:</strong>
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Closed
                        </td>
                    </tr>
                    <br />
                    <tr>
                        <td>
                            <strong>Sunday:</strong>
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            Closed
                        </td>
                    </tr>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}