{% extends "index.html" %}

{% block content %}
<!-------------------------------------prices section----------------------------------------------------->
<section class="container">
    <div class="row">
        <h3 class="offset-3 mt-4" style="text-align: center;">Flyttstädning
            <hr style="width: 100px; background-color: #4998ee;">
        </h3>
        <div class="col-lg-8">
            <div class="card information" style="border-left: solid 2px #69bfdd;">
                <div class="card-body">
                    <h5>
                        Vi inspekterar alltid ditt hem efter städningen för att ge en garanti för den utförda rengöringen.
                    </h5>
                    <p>
                        Att flytta kan vara energikrävande eftersom det oftast är mycket som måste rengöras ordentligt och korrekt. Det kan vara
                        väldigt trevligt att anlita ett företag som gör det åt dig. Nilsson städtjänst ger dig den hjälp du behöver med din
                        flyttstädning och lämnar dig tid att spendera på andra saker.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col" style="margin-bottom: -20px;">
                    <h5 class="text-center"> Detta ingår i vår flyttstädning </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="padding-right: 0px; padding-right: 5px;">
                    <div class="card information">
                        <div class="card-body">
                            <h5 class="rum " style="margin-top: 0px;">Alla rum: </h5>
                            <p>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Rengöring av golv. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Rengöring av golvlister, kontakter, dörrar, karmar, fönsterbrädor, element samt målade ytor. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Rengöring av garderober, in- och utvändigt (om de är tömda). <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Fönsterputsning. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Rengöring av eluttag och kontakter. <br>
                            </p>
                            <hr class="my-4" style="background-color: #cdd7e6; height: 1px;">
                            <h5 class="rum " style="margin-top: 0px;">Bad och toalett: </h5>
                            <p>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Rengöring av all sanitet, även under och bakom badkaret. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Rengöring av kakelväggar. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Tvättmaskin, torktumlare och torkskåp rengörs in- och utvändigt.
                                <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Rengöring av badrumsskåp både ut- och invändigt. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Rengöring av golvbrunnar och ventiler. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Förvaringsutrymmen rengörs. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Avtorkning av vattenrör och belysning.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="padding-right: 0px; padding-left: 5px;">
                    <div class="card information">
                        <div class="card-body">
                            <h5 class="kök" style="margin-top: 0px;">Kök: </h5>
                            <p>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Rengöring av kyl, sval och frys in- och utvändigt (frys rengörs endast om den är avfrostad då städningen påbörjas.
                                <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Rengöring av utdragen spis in- och utvändigt, även ugnsplåtar. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Rengöring av diskmaskin in- och utvändigt. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Av- och urtorkning av skåp, lådor och bänkar (inuti om de är tömda)Avtorkning av köksfläkt samt ventiler (ej inuti). <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Rengöring av spisfläkt och filter. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Avtorkning av belysning. <br>
                            </p>
                        </div>
                    </div>
                    <div class="col" style="padding-right: 0px; padding-left: 5px;">
                        <div class="card information">
                            <div class="card-header" style="background-color: rgb(226, 238, 240); color: black;"><h5>Detta ingår inte i flyttstädningen:</h5></div>
                            <div class="card-body">
                                <p>
                                    <i class="fa fa-check" style="color: #7daddd;"></i> Städning av icke boytor, så kallade biytor som
                                    garage, förråd, balkong och altan.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col" style="margin-bottom: -15px;">
                    <h5 class="text-center"> Priser flyttstädning </h5>
                </div>
            </div>
            <div class="card information" style="border-left: solid 2px #69bfdd; width: 100%;">
                    <table class="table text-center">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">kvm</th>
                                <th scope="col">pris per kvm</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">0-49</th>
                                <td>2.500 kr oavsett storlek</td>
                            </tr>
                            <tr>
                                <th scope="row">50-99</th>
                                <td>50 kr</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <th scope="row">100+</th>
                                <td>40 kr</td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="offset-1">Inställelseavgift på 120 kr tillkommer på alla priser ovan. </p>
                </div>
            <div class="card information" style="border-left: solid 2px #69bfdd; width: 100%;">
                <div class="card-body">
                    <table class="table">
                            Prisexempel:
                        </p>
                        <tbody>
                            <tr>
                                <th scope="row">70</th>
                                <td>Kvm</td>
                                <td>3 620 kr</td>
                            </tr>
                            <tr>
                                <th scope="row">120</th>
                                <td>Kvm</td>
                                <td>4 920 kr.</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <th scope="row">160</th>
                                <td>Kvm</td>
                                <td>6 520 kr.</td>
                            </tr>
                        </tbody>
                    </table>
                    <p><strong>Boka idag för ett gratis hembesök och prisoffert eller flyttstädning direkt! </strong></p>
                    <p>
                    <ul class="uls">
                        <li class="lis"><a class="as" href="{{ url_for('home_visit') }}">Boka besök</a></li>
                        <li class="lis"><a class="as" href="{{ url_for('moving_booking') }}">Boka flyttstäd</a></li>
                    </ul>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-2" style="padding-right: 0px; padding-right: 5px;">
                    <div class="card information">
                        <div class="card-header" style="background-color: red; color: white;">INFÖR FLYTTSTÄDNINGEN!</div>
                        <div class="card-body">
                            <p>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Se till att hemmet är tomt samt att kyl och frys är utplockade och avstängda. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> NILSSONS STÄDTJÄNST tillhandahåller material och utrustning för städningen. <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Befintliga skador måste rapporteras innan städningen påbörjas, ex fönsterrutor som ej går att öppna.
                                <br>
                                <i class="fa fa-check" style="color: #4998ee;"></i> Vill du få städning av biytor såsom balkong, utsida av fönsterbleck, förråd, tvättstuga och garage kan du beställa detta
                                separat. <br>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-2" style="padding-right: 0px; padding-right: 5px;">
                    <div class="card information">
                        <div class="card-header" style="background-color: green; color: white;">GARANTI!</div>
                        <div class="card-body">
                            <p>
                            <p>    Vi har en kvalitetsgaranti, som innebär att vi inom 48 timmar åtgärdar det du,</p> 
                            <p> fastighetsägaren/hyresvärden eller den
                                inflyttande hyresgäst inte är nöjd med.</p> 
                            <p>    Reklamation måste göras senast 5 dagar efter städningstillfället.</p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!----------------------Section Contact in body------------------------------------------------------------>
        <div class="col-lg-4">
            <div class="card border-primary mb-3" style="width:100%; justified-content-center">
                <div class="card-header">
                    <h5>Kontakt</h5>
                </div>
                <div class="card-body text-primary">
                    <a href="tel:0720107276"><i class="fa fa-phone" aria-hidden="true"></i> : 0720107276</a>
                    <br />
                    <a target="_blank" href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> :
                        gerardbulky@gmail.com</a>
                    <br />
                    <a target="_blank" href="https://superclean.se/"><i class="fa fa-globe" aria-hidden="true"></i> :
                        https://superclean.se</a>
                    <br />
                    <a target="_blank"
                        href="https://www.google.com/maps/place/Sundsgatan+35,+661+42+S%C3%A4ffle/@59.1302538,12.9298516,17z/data=!3m1!4b1!4m5!3m4!1s0x4644a8985505ee95:0x9daef44078fbed9f!8m2!3d59.1302538!4d12.9320403"><i
                            class="fa fa-location-arrow" aria-hidden="true"></i> :
                        Företagets plats</a>
                </div>
            </div>

            <!----------------------Section Opening Hours in body------------------------------------------------------------>
            <div class="card border-secondary mb-3" style="width:100%; justified-content-center">
                <div class="card-header">
                    <h5>Telefontider </h5>
                </div>
                <div class="card-body table">
                    <tr>
                        <td><strong>Mån-Fre:</strong>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 7:00 - 16:00
                        </td>
                    </tr>
                    <br />
                    <tr>
                        <td><strong>Lördag:</strong>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 9:00 - 16:00
                        </td>
                    </tr>
                    <br />
                    <tr>
                        <td><strong>Söndag:</strong>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            9:00 - 13:00
                        </td>
                    </tr>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}