{% extends "index.html" %}

{% block content %}
<!-------------------------------------prices section----------------------------------------------------->
<section class="container">
    <div class="row">
        <h3 class="offset-3 mt-4" style="text-align: center;">Priser
            <hr style="width: 100px; background-color: #4998ee;">
        </h3>
        <div class="col-lg-8">
            <div class="card information">
                <div class="card-body">
                    <p>
                        Alla priser är vad du som kund betalar efter RUT-avdrag. (Om inget annat står.) &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6" style="padding-right: 0px;">
                    <div class="card information" style="width: 100%;">
                        <div class="card-body">
                            <h5 class="rum " style="margin-top: 0px; color: black;">Hemstädning och Storstädning </h5>
                            <hr>
                            <p>
                                229 kr per timme.
                            </p>
                            <p>
                                Startavgift 120 kr per städtillfälle. <br>
                                (Om din bostad ligger långt bort kan ytterligare kostnad tillkomma.)
                            </p>
                            <strong>
                                Vi har med oss all städmaterial och städutrustning, så inget mer tillkommer.
                            </strong>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" style="padding-right: 0px;">
                    <div class="card information" style="width: 100%;">
                        <div class="card-body">
                            <h5 class="kök" style="margin-top: 0px; color: black;">Fönsterputsning </h5>
                            <hr>
                            <p>
                                50 kr per fönster, 2-sidor.
                            </p>
                            <p>
                                Startavgift 120 kr per städtillfälle. <br>
                                (Om din bostad ligger långt bort kan ytterligare kostnad tillkomma. <br>
                                Samma gäller om det är väldigt ovanliga eller gamla fönster eller med fast spröjs. <br>
                                Berätta vid beställningstillfället hur era fönster ser ut för rätt prisoffert.)
                            </p>
                            <strong>
                                Vi har med oss all städmaterial och städutrustning, så inget mer tillkommer.
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6" style="padding-right: 0px;">
                    <div class="card information" style="width: 100%;">
                        <div class="card-body">
                            <h5 class="kök" style="margin-top: 0px; color: black;">Företagsstädning/ Butiksstädning/ Kontorsstädning/ Trappstädning</h5>
                            <hr>
                            <p>
                                367 kr per timme.
                            </p>
                            <p>
                                Startavgift 96 kr per städtillfälle.
                            </p>
                            <p>
                                Priser för företag är ex moms.
                            </p>
                            <p>
                                (RUT-avdrag gäller endast för privatpersoner.)
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" style="padding-right: 0px;">
                    <div class="card information">
                        <div class="card-body">
                            <h5 class="rum mb-3" style="margin-top: 0px; color: black;">Flyttstädning</h5>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th scope="row">0-49</th>
                                        <td>Kvm</td>
                                        <td>2 500 kr oavsett kvm.</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">50-99</th>
                                        <td>Kvm</td>
                                        <td>50 kr per kvm.</td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th scope="row">100+</th>
                                        <td>Kvm</td>
                                        <td>40 kr per kvm.</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p>
                                Startavgift på 120 kr tillkommer på priset ovan.
                                Kvm avser boyta, vid eventuella biytor kontakta oss för ett bra paketpris.
                            </p>
                            <p>
                                Ett gratis hembesök utan något som helst bindningskrav ingår alltid, då vi tillsammans går igenom din
                                bostad och ser vad
                                du vill ha hjälp med och kan diskutera slutgiltigt pris på plats.
                            </p>
                            <p>
                                Minimumpris oavsett storlek är alltså 2 620 kr.
                            </p>
                            <table class="table">
                                <p> <strong>
                                        Prisexempel:
                                    </strong>
                                </p>
                                <tbody>
                                    <tr>
                                        <th scope="row">70</th>
                                        <td>Kvm</td>
                                        <td>3 620 kr</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">120</th>
                                        <td>Kvm</td>
                                        <td>4 920 kr.</td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th scope="row">160</th>
                                        <td>Kvm</td>
                                        <td>6 520 kr.</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="card information" style="width: 100%; background-color: red; color: #fff;">
                                <div class="card-body">
                                    <h5 class="text-center">Offererat pris:</h5>
                                    <p>
                                        &nbsp; &nbsp; &nbsp; &nbsp; Priset ni fått av oss är uträknat på ett snittpris som vi kommit
                                        fram till genom
                                        alla våra tidigare flyttstäd. Och avser
                                        flyttstädning av en ”normalsmutsig” villa eller lägenhet, som av er har städas ett par gånger
                                        per månad och
                                        gjorts en
                                        storstädning någon gång per år. Skulle vi märka att tidsåtgången för ert städ avviker mycket
                                        från denna
                                        snitt tid,
                                        förbehåller <br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;vi oss rätten att ta ut en liten
                                        extra avgift,
                                        dock upp till max 20 % mer.
                                    <p class="text-center">Som exempel på detta:</p>
                                    <p class="text-center">Ni har fått ett offererat pris på 3 000 kr.</p>
                                    <p class="text-center">Då kommer ni i värsta fall att få betala max 3 600 kr.</p>
                                    <p class="text-center">Vi hoppas på er förståelse för detta.</p>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!----------------------Section Contact in body------------------------------------------------------------>
        <div class="col-lg-4">
            <div class="card border-primary mb-3" style="width:100%; justified-content-center">
                <div class="card-header">
                    <h5>Contact</h5>
                </div>
                <div class="card-body text-primary">
                    <a href="tel:0720107276"><i class="fa fa-phone" aria-hidden="true"></i> : 0720107276</a>
                    <br />
                    <a target="_blank" href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> :
                        gerardbulky@gmail.com</a>
                    <br />
                    <a target="_blank" href="https://superclean.se/"><i class="fa fa-globe" aria-hidden="true"></i> :
                        https://superclean.se</a>
                    <br />
                    <a target="_blank"
                        href="https://www.google.com/maps/place/Sundsgatan+35,+661+42+S%C3%A4ffle/@59.1302538,12.9298516,17z/data=!3m1!4b1!4m5!3m4!1s0x4644a8985505ee95:0x9daef44078fbed9f!8m2!3d59.1302538!4d12.9320403"><i
                            class="fa fa-location-arrow" aria-hidden="true"></i> :
                        Location</a>
                </div>
            </div>

            <!----------------------Section Opening Hours in body------------------------------------------------------------>
            <div class="card border-secondary mb-3" style="width:100%; justified-content-center">
                <div class="card-header">
                    <h5>Opening Hours</h5>
                </div>
                <div class="card-body table">
                    <tr>
                        <td>
                            <strong>Mon-Fri:</strong>
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 7:00 - 16:00

                        </td>
                    </tr>
                    <br />
                    <tr>
                        <td>
                            <strong>Saturday:</strong>
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Closed
                        </td>
                    </tr>
                    <br />
                    <tr>
                        <td>
                            <strong>Sunday:</strong>
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            Closed
                        </td>
                    </tr>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}