{% extends "index.html" %}

{% block content %}
<!-------------------------------------prices section----------------------------------------------------->
<section class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card information">
                <div class="card-body">
                    <strong>PRICES</strong>
                    <p>
                        The prices vary with the different cleanings and the size of the house is taken into
                        consideration. Feel
                        free to make an appointment with us which is free and we shall come over and inspect your home
                        and there
                        after would be able to eveluate the pricing.
                    </p>
                </div>
            </div>
        </div>

        <!----------------------Section Contact in body------------------------------------------------------------>
        <div class="col-md-4">
            <div class="card border-primary mb-3" style="width:100%; justified-content-center">
                <div class="card-header">
                    <h5>Contact</h5>
                </div>
                <div class="card-body text-primary">
                    <a href="tel:0720107276"><i class="fa fa-phone" aria-hidden="true"></i> : 0720107276</a>
                    <br />
                    <a target="_blank" href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> :
                        gerardbulky@gmail.com</a>
                    <br />
                    <a target="_blank" href="https://superclean.se/"><i class="fa fa-globe" aria-hidden="true"></i> :
                        https://superclean.se</a>
                    <br />
                    <a target="_blank"
                        href="https://www.google.com/maps/place/Sundsgatan+35,+661+42+S%C3%A4ffle/@59.1302538,12.9298516,17z/data=!3m1!4b1!4m5!3m4!1s0x4644a8985505ee95:0x9daef44078fbed9f!8m2!3d59.1302538!4d12.9320403"><i
                            class="fa fa-location-arrow" aria-hidden="true"></i> :
                        Location</a>
                </div>
            </div>

            <!----------------------Section Opening Hours in body------------------------------------------------------------>
            <div class="card border-secondary mb-3" style="width:100%; justified-content-center">
                <div class="card-header">
                    <h5>Opening Hours</h5>
                </div>
                <div class="card-body table">
                    <tr>
                        <td>
                            <strong>Mon-Fri:</strong>
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 7:00 - 16:00

                        </td>
                    </tr>
                    <br />
                    <tr>
                        <td>
                            <strong>Saturday:</strong>
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Closed
                        </td>
                    </tr>
                    <br />
                    <tr>
                        <td>
                            <strong>Sunday:</strong>
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            Closed
                        </td>
                    </tr>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}