{% extends "index.html" %}

{% block content %}
<!-------------------------------------prices section----------------------------------------------------->
<section class="container">
    <div class="row">
        <h3 class="offset-4 mt-4" style="text-align: center;">Priser
            <hr style="width: 100px; background-color: #4998ee;">
        </h3>

        <div class="col-lg-9">
            <div class="card information" style="width: 100%;">
                <div class="card-body">
                    <p>
                        Priset är vad kunden betalar efter RUT-avdrag.
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <br>
                        Om din bostad ligger långt bort kan ytterligare kostnad tillkomma.
                        <br>
                        <strong> Vi tillhandahåller alla material och utrustning för städningen. </strong>
                    </p>
                </div>
            </div>
            
            <!--------end-->
            <div class="price-card">
                <div class="row">
                <div class="col-lg-6" style="padding-right: 0px;">
                    <div class="card information" style="width: 100%;">
                        <div class="card-body">
                            <h5 class="rum " style="margin-top: 0px; color: black;">Hemstädning och Storstädning </h5>
                            <hr>
                            <p>
                                225 kr per timme.
                                <br>
                                <br>
                                Startavgift 110 kr.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" style="padding-right: 0px;">
                    <div class="card information" style="width: 100%;">
                        <div class="card-body">
                            <h5 class="kök" style="margin-top: 0px; color: black;">Fönsterputsning </h5>
                            <hr>
                            <p>
                                50 kr per fönster, 2-sidor.
                                <br>
                                <br>
                                Startavgift 110 kr.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6" style="padding-right: 0px;">
                    <div class="card information" style="width: 100%;">
                        <div class="card-body">
                            <h5 class="kök" style="margin-top: 0px; color: black;">Företagsstädning/ Butiksstädning/
                                Kontorsstädning/ Trappstädning</h5>
                            <hr>
                            <p>
                                359 kr per timme.
                                <br>
                                <br>
                                Startavgift 90 kr per städtillfälle.
                            </p>
                            <p>
                                Priser för företag är ex moms.
                            </p>
                            <p>
                                (RUT-avdrag gäller endast för privatpersoner.)
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" style="padding-right: 0px;">
                    <div class="card information" style="width: 100%;">
                        <div class="card-body">
                            <h5 class="rum mb-3" style="margin-top: 0px; color: black;">Flyttstädning</h5>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th scope="row">0-99</th>
                                        <td>Kvm</td>
                                        <td>50 kr per kvm.</td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <th scope="row">100+</th>
                                        <td>Kvm</td>
                                        <td>40 kr per kvm.</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p>
                                Startavgift på 110 kr.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!----------------------Section Contact in body------------------------------------------------------------>
        <div class="col-lg-3">
            <div class="card border-primary mb-3" style="width:100%; justified-content-center">
                <div class="card-header">
                    <h5>Kontakt</h5>
                </div>
                <div class="card-body text-primary">
                    <a href="tel:0720107276"><i class="fa fa-phone" aria-hidden="true"></i> : 0720107276</a>
                    <br />
                    <a target="_blank" href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> :
                        gerardbulky@gmail.com</a>
                    <br />
                    <a target="_blank" href="https://superclean.se/"><i class="fa fa-globe" aria-hidden="true"></i> :
                        https://superclean.se</a>
                    <br />
                    <a target="_blank"
                        href="https://www.google.com/maps/place/Sundsgatan+35,+661+42+S%C3%A4ffle/@59.1302538,12.9298516,17z/data=!3m1!4b1!4m5!3m4!1s0x4644a8985505ee95:0x9daef44078fbed9f!8m2!3d59.1302538!4d12.9320403"><i
                            class="fa fa-location-arrow" aria-hidden="true"></i> :
                        Företagets plats</a>
                </div>
            </div>

            <!----------------------Section Opening Hours in body------------------------------------------------------------>
            <div class="card border-secondary mb-3" style="width:100%; justified-content-center">
                <div class="card-header">
                    <h5>Telefontider </h5>
                </div>
                <div class="card-body table">
                    <tr>
                        <td><strong>Mån-Fre:</strong>&nbsp&nbsp 7:00 - 19:00
                        </td>
                    </tr>
                    <br />
                    <tr>
                        <td><strong>Lördag:</strong>&nbsp&nbsp&nbsp&nbsp 7:00 - 16:00
                        </td>
                    </tr>
                    <br />
                    <tr>
                        <td><strong>Söndag:</strong>&nbsp&nbsp&nbsp 7:00 - 12:00
                        </td>
                    </tr>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}