{% extends "index.html" %}

{% block content %}
    <!-------------------------------------Registration Section----------------------------------------------------->
    <section class="container">
        <h2 class="text-center" style="margin-top: 20px;"> {{ username }}'s Profile</h2>
        <hr class="line-height" style="width: 200px; height: 1px; background-color: #4998ee;">
        
        {% if tasks %}
        <div class="row">
            <div class="col-12">
                <div class="card-body shadow-sm p-3 mb-5 bg-white rounded">
                    <h3 class="text-center mb-3">Bookings</h3>
                    {% for task in task %}
                        {% if session.user|lower == task.created_by|lower %}
                        <div class="card-header" style="background-color: rgb(28, 99, 230);" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <i class="fa fa-caret-down" style="color: #fff; font-size: large; margin-right: 10px;">
                                        <strong>{{ task.category_name }}</strong> : {{ task.time_and_date }}</i>
                                </button>
                            </h2>
                        </div>
        
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                {{ task.full_name }} <br>
                                {{ task.address }} <br>
                                {{ task.phone_number }} <br>
                                {{ task.any_additional_information }} <br>
                                {{ task.how_often }} <br>
                                Created by: {{ task.created_by }}<br>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% else %}
            <h3 class="header my-4 text-center" style="color: red;">No Booking Yet
        {% endif %}
    </section>

    
    
{% endblock %}