{% extends "index.html" %}

{% block content %}
    <!-------------------------------------Registration Section----------------------------------------------------->
    <section class="container">
        <h3 class="text-center" style="margin-top: 20px;"> {{ username }}'s Profile</h3>
        <hr class="line-height" style="width: 200px; background-color: #4998ee;">
        
        <div class="row">
            <div class="col-12">
                <div class="card-body shadow-sm p-3 mb-5 bg-white rounded">
                    <h3 class="text-center mb-3">Bookings</h3>
                    {% for task in task %}
                        {% if session.user|lower == task.created_by|lower %}
                        <div class="card-header" style="background-color: rgb(28, 99, 230);" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <i class="fa fa-caret-down" style="color: #fff; font-size: large; margin-right: 10px;">
                                        <strong>{{ task.category_name }}</strong> : {{ task.time_and_date }}</i>
                                </button>
                            </h2>
                        </div>
        
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p style="margin-bottom: 0;"><strong> Personal information </strong></p>
                                {{ task.full_name }} <br>
                                {{ task.address }} <br>
                                {{ task.phone_number }} <br>
                                {{ task.email }} <br>
                                <br>
                                {% if task.category_name == "Fönsterputsning" %}
                                    <p style="margin-bottom: 0;"><strong>  Window cleaning information </strong></p>
                                    type1: &nbsp; {{ task.window_type_one }} = {{ task.window_count_one }} <br>
                                    type2: &nbsp; {{ task.window_type_two }} = {{ task.window_count_two }} <br>
                                    type3: &nbsp; {{ task.window_type_three }} = {{ task.window_count_three }} <br>
                                    sides to clean: &nbsp; {{ task.window_cleaning_sides }}<br>
                                    {{ task.any_additional_information }} <br>
                                {% endif %}
                                Created by: {{ task.created_by }} <br>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    
    
{% endblock %}