{% extends "index.html" %}

{% block content %}
    <!-------------------------------------Registration Section----------------------------------------------------->
    <div class="container">
        <h2 class="text-center" style="margin-top: 20px;"> {{ username }}'s Profile</h2>
        <hr class="line-height" style="width: 200px; height: 1px; background-color: rgb(123, 123, 139);">
        <div class="row">
            <div class="col-12">
                <div class="card-body shadow-sm p-3 mb-5 bg-white rounded">
                    <h2 class="text-center">Tasks</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}