{% extends "index.html" %}


{% block content %}
<!-------------------------------------Registration Section----------------------------------------------------->
<section class="container">
    <h3 class="offset-4" style="margin-top: 20px;">Reset Password</h3>
    <hr class="offset-4" style="width: 200px; background-color: #4998ee;">
    <div class="row">
        <div class="col-lg-9">
            <div class="card-body text-center">
                <form class="border-tertiary" method="POST" action="{{ url_for('reset_password') }}">
                    <!----------Users Email------->
                    <div class="row">
                        <div class="col-sm-12 my-3" style="display: inline-block;">
                            <i class="fa fa-envelope-o mr-2" aria-hidden="true" style="font-size: xx-large; max-width: 20%;"></i>
                            <label for="email" style="width: 80%;">
                                <input type="text" class="form-control" name="email" id="email" placeholder="E-post">
                            </label>
                        </div>
                    </div>
                    <!----------Sign In Button--------->
                    <div class="row" style="margin: 25px;">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Reset Password <i class="fa fa-sign-in"
                            aria-hidden="true"></i></button>
                    </div>
                </form>
            </div>
        </div>
        <!----------------------Section Contact in body------------------------------------------------------------>
        
    </div>
</section>
{% endblock %}