{% extends "index.html" %}


{% block content %}
<h3 class="header my-4" style="text-align: center;">Fönsterputsbokning
    <hr style="width: 200px; background-color: #4998ee;">
</h3>

<section class="container add_task">
    <div class="row">
        <div class="col-12">
            <div class="card information" style="width: 100%;">
                <!-------------section for different window image------------>
                <img src="{{ url_for('static', filename='images/different-window.png') }}" style="max-height: 500px;"
                    class="img-fluid" alt="Responsive image">
                <div class="card-body">
                    <form class="text-center" method="POST" action="{{ url_for('add_task') }}">
                        <!-------------section for select cleaning section------------------------>
                        <div class="row">
                            <div class="col-sm-12 my-3" style="display: inline-block;">
                                <i class="fa fa-folder-open mr-2" aria-hidden="true"
                                    style="font-size: xx-large; max-width: 20%;"></i>
                                <select id="category_name" name="category_name"
                                    class="custom-select custom-select-lg mb-3" style="width: 80%;" required>
                                    <option selected>Fönsterputsning</option>
                                </select>
                            </div>
                        </div>
                        <!-------------section for type of window------------------------>
                        <div class="row">
                            <!-----select type one------------>
                            <div class="col-12">
                               <h4 class="header-window-booking"> Hur är ditt fönster?</h4> 
                            </div>

                            <div class="col-sm-8 my-3 offset-2" style="display: flex; align-items: center; justify-content: center;">
                                <!----select type one-->
                                <select id="window_type_one" name="window_type_one" class="custom-select custom-select-lg mb-3"
                                    style="width: 45%; margin-right: 5px;">
                                    <option selected>Typ 1</option>
                                    <option value="1">A</option>
                                    <option value="2">B</option>
                                    <option value="3">C</option>
                                    <option value="4">D</option>
                                    <option value="5">E</option>
                                    <option value="6">F</option>
                                    <option value="7">G</option>
                                    <option value="8">H</option>
                                </select>
                                <select id="window_count_one" name="window_count_one" class="custom-select custom-select-lg mb-3"
                                    style="width: 45%; margin-left: 5px;">
                                    <option selected>Antal</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                    <option value="29">29</option>
                                    <option value="30">30</option>
                                    <option value="31">31</option>
                                    <option value="32">32</option>
                                    <option value="33">33</option>
                                    <option value="34">34</option>
                                    <option value="35">35</option>
                                    <option value="36">36</option>
                                    <option value="37">37</option>
                                    <option value="38">38</option>
                                    <option value="39">39</option>
                                    <option value="40">40</option>
                                    <option value="41">41</option>
                                    <option value="42">42</option>
                                    <option value="43">43</option>
                                    <option value="44">44</option>
                                    <option value="45">45</option>
                                    <option value="46">46</option>
                                    <option value="47">47</option>
                                    <option value="48">48</option>
                                    <option value="49">49</option>
                                    <option value="50">50</option>
                                </select>
                            </div>
                            <!------select type two----------->
                            <div class="col-sm-8 my-3 offset-2" style="display: flex; align-items: center; justify-content: center;">
                                <select id="window_type_two" name="window_type_two" class="custom-select custom-select-lg mb-3"
                                    style="width: 45%; margin-right: 5px;">
                                    <option selected>Typ 2</option>
                                    <option value="1">A</option>
                                    <option value="2">B</option>
                                    <option value="3">C</option>
                                    <option value="4">D</option>
                                    <option value="5">E</option>
                                    <option value="6">F</option>
                                    <option value="7">G</option>
                                    <option value="8">H</option>
                                </select>
                                <select id="window_count_two" name="window_count_two" class="custom-select custom-select-lg mb-3"
                                    style="width: 45%; margin-left: 5px;">
                                    <option selected>Antal</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                    <option value="29">29</option>
                                    <option value="30">30</option>
                                    <option value="31">31</option>
                                    <option value="32">32</option>
                                    <option value="33">33</option>
                                    <option value="34">34</option>
                                    <option value="35">35</option>
                                    <option value="36">36</option>
                                    <option value="37">37</option>
                                    <option value="38">38</option>
                                    <option value="39">39</option>
                                    <option value="40">40</option>
                                    <option value="41">41</option>
                                    <option value="42">42</option>
                                    <option value="43">43</option>
                                    <option value="44">44</option>
                                    <option value="45">45</option>
                                    <option value="46">46</option>
                                    <option value="47">47</option>
                                    <option value="48">48</option>
                                    <option value="49">49</option>
                                    <option value="50">50</option>
                                </select>
                            </div>
                            <!------select type three--------->
                            <div class="col-sm-8 my-3 offset-2" style="display: flex; align-items: center; justify-content: center;">
                                <select id="window_type_three" name="window_type_three" class="custom-select custom-select-lg mb-3"
                                    style="width: 45%; margin-right: 5px;">
                                    <option selected>Typ 3</option>
                                    <option value="1">A</option>
                                    <option value="2">B</option>
                                    <option value="3">C</option>
                                    <option value="4">D</option>
                                    <option value="5">E</option>
                                    <option value="6">F</option>
                                    <option value="7">G</option>
                                    <option value="8">H</option>
                                </select>
                                <select id="window_count_three" name="window_count_three" class="custom-select custom-select-lg mb-3"
                                    style="width: 45%; margin-left: 5px;">
                                    <option selected>Antal</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="22">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                    <option value="29">29</option>
                                    <option value="30">30</option>
                                    <option value="31">31</option>
                                    <option value="32">32</option>
                                    <option value="33">33</option>
                                    <option value="34">34</option>
                                    <option value="35">35</option>
                                    <option value="36">36</option>
                                    <option value="37">37</option>
                                    <option value="38">38</option>
                                    <option value="39">39</option>
                                    <option value="40">40</option>
                                    <option value="41">41</option>
                                    <option value="42">42</option>
                                    <option value="43">43</option>
                                    <option value="44">44</option>
                                    <option value="45">45</option>
                                    <option value="46">46</option>
                                    <option value="47">47</option>
                                    <option value="48">48</option>
                                    <option value="49">49</option>
                                    <option value="50">50</option>
                                </select>
                            </div>
                            <!----section for " eller "--------->
                            <div class="col-sm-12">
                                <h5 style="margin-bottom: 30px; padding: 0;">Eller</h5>
                            </div>
                            <!----section for select photo upload----------->
                            <div class="col-sm-8 offset-2" style="display: flex; align-items: center; justify-content: center; margin-bottom: 30px;">
                                <div class="file-upload">
                                    <!----------
                                    <input type="file" class="file" id="file" accept="image/*">
                                    <label class="upload-file" for="file"><i class="fa fa-file-image-o" aria-hidden="true"></i>  &nbsp; bifoga bilder på dina fönster</label>
                                    ---->
                                    <label for="myFile[]"></label>
                                    <input class="file-upload__input" type="file" name="myFile[]" id="myFile" multiple>
                                    <button class="file-upload__button btn-sm" type="button"><i class="fa fa-file-image-o" aria-hidden="true"></i>&nbsp; bifoga bilder på dina fönster</button>
                                    <span class="file-upload__label"></span>
                                </div>
                                
                            </div>
                            <!---------section for number of sides to clean----------------->
                            <div class="col-sm-10 offset-1" style="display: flex; align-items: center; justify-content: center;">
                                <label for="window_cleaning_sides"></label>
                                <select id="window_cleaning_sides" name="window_cleaning_sides" class="custom-select custom-select-lg mb-3" style="width: 80%;">
                                    <option selected>Antal sidor att putsa</option>
                                    <option value="1">2</option>
                                    <option value="2">4</option>
                                    <option value="3">6</option>
                                </select>
                            </div>
                        </div>
                        
                        <!-------------section for additional information------------------------>
                        <div class="row">
                            <div class="col-sm-12 my-3 additional_info">
                                <i class="fa fa-align-left mr-2" aria-hidden="true"
                                    style="font-size: xx-large; max-width: 20%;"></i>
                                <label for="any_additional_information" style="width: 80%;">
                                    <textarea class="form-control" id="any_additional_information" type="text"
                                        name="any_additional_information" rows="3"
                                        placeholder="Saknas ditt alternativ. Beskriv här. (Valfrit)"></textarea>
                                </label>
                            </div>
                        </div>
                        <!-------------section for time & date------------------------>
                        <!-------------section for date------------------------>
                        <div class="row">
                            <div class="col-sm-12 my-3" style="display: inline-block;">
                                <i class="fa fa-calendar mr-2" aria-hidden="true"
                                    style="font-size: xx-large; max-width: 20%;"></i>
                                <label for="time_and_date" style="width: 80%;">
                                    <input class="form-control" id="time_and_date" type="date" name="time_and_date"
                                        value="dd-mm-yy" required>
                                </label>
                                <span class="validity"></span>
                            </div>
                        </div>

                        <!-------------section for address------------------------>
                        <div class="row">
                            <div class="col-sm-12 my-3" style="display: inline-block;">
                                <i class="fa fa-home mr-2" aria-hidden="true"
                                    style="font-size: xx-large; max-width: 20%;"></i>
                                <label for="address" style="width: 80%;">
                                    <input type="text" class="form-control" name="address" id="address"
                                        placeholder="Adress" required>
                                </label>
                            </div>
                        </div>
                        <!-------------section for phone number------------------------>
                        <div class="row">
                            <div class="col-sm-12 my-3" style="display: inline-block;">
                                <i class="fa fa-phone mr-2" aria-hidden="true"
                                    style="font-size: xx-large; max-width: 20%;"></i>
                                <label for="phone_number" style="width: 80%;">
                                    <input type="text" class="form-control" name="phone_number" id="phone_number"
                                        placeholder="Telefonnummer" required>
                                </label>
                            </div>
                        </div>
                        <!-------------section for email------------------------>
                        <div class="row">
                            <div class="col-sm-12 my-3" style="display: inline-block;">
                                <i class="fa fa-envelope-o mr-2" aria-hidden="true" style="font-size: xx-large; max-width: 20%;"></i>
                                <label for="email" style="width: 80%;">
                                    <input type="text" class="form-control" name="email" id="email" placeholder="E-post" required>
                                </label>
                            </div>
                        </div>
                        <!-------------section for full name------------------------>
                        <div class="row">
                            <div class="col-sm-12 my-3" style="display: inline-block;">
                                <i class="fa fa-user mr-2" aria-hidden="true"
                                    style="font-size: xx-large; max-width: 20%;"></i>
                                <label for="full_name" style="width: 80%;">
                                    <input type="text" class="form-control" name="full_name" id="full_name"
                                        placeholder="Ditt Namn" required>
                                </label>
                            </div>
                        </div>
                        <!-------------section for button------------------------>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary button btn-lg">SKICKA IN <i
                                        class="fa fa-plus-square right ml-2"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}