{% extends "index.html" %}

{% block content %}
<!-------------------------------------prices section----------------------------------------------------->
<section class="container">
    <div class="row">
        <h3 class="offset-3 mt-4" style="text-align: center;">Fönsterputsning <hr style="width: 100px; background-color: #4998ee;"> </h3>
        <div class="col-lg-8">
            <div class="card information">
                <div class="card-body">
                    <p>
                        Nya fönster går oftast inte att öppna emellan glasen, utan man putsar insida och utsida, detta kallar vi 2-sidors
                        fönsterputsning. Om man kan öppna emellan glasen blir det 4-sidor. Vissa fönster har tre glas som kan putsas på båda
                        sidorna. Då handlar det om 6-sidor.
                        <br>
                        Hos oss får du alltid ett fast pris, vare sig det gäller fönstren hemma eller på företaget.
                    </p>
                    <br>
                    <hr class="my-4" style="background-color: #cdd7e6; height: 1px;">
                    <h5 class="text-center my-4" style="margin-top: 20px;"> Pris fönsterputsning </h5>
                    <p>
                        Alla priser är vad du som kund betalar efter RUT-avdrag. <br>
                        50 kr per fönster, avser 2-sidor. <br>
                        Startavgift 120 kr per städtillfälle. (Om din bostad ligger långt bort kan ytterligare kostnad tillkomma.) <br>
                        (Samma gäller om det är väldigt ovanliga eller gamla fönster eller med fast spröjs. <br>
                        Berätta vid beställningstillfället hur era fönster ser ut för rätt prisoffert.) <br>
                    </p>
                    <p>
                        Vi har med oss all städmaterial och städutrustning, så inget mer tillkommer.
                    </p>
                    <p>
                        <strong>Boka idag för ett gratis hembesök och prisoffert! eller boka fönsterputsning direkt!. </strong>
                    </p>
                    <!--------------<p>
                            <a href="{{ url_for('window_booking') }}" style="margin-top: 20px; display: flex; align-items: center;"
                                class="btn btn-outline-primary button btn-sm active" role="button" aria-pressed="true"> &nbsp &nbsp Book Now</a>
                        </p>---------------------->
                    <p>
                        <ul class="uls">
                            <li class="lis"><a class="as" href="{{ url_for('home_visit') }}">Boka besök</a></li>
                            <li class="lis"><a class="as" href="{{ url_for('window_booking') }}">Boka fönsterputs</a></li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>

        <!----------------------Section Contact in body------------------------------------------------------------>
        <div class="col-lg-4">
            <div class="card border-primary mb-3" style="width:100%; justified-content-center">
                <div class="card-header">
                    <h5>Kontakt</h5>
                </div>
                <div class="card-body text-primary">
                    <a href="tel:0720107276"><i class="fa fa-phone" aria-hidden="true"></i> : 0720107276</a>
                    <br />
                    <a target="_blank" href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> :
                        gerardbulky@gmail.com</a>
                    <br />
                    <a target="_blank" href="https://superclean.se/"><i class="fa fa-globe" aria-hidden="true"></i> :
                        https://superclean.se</a>
                    <br />
                    <a target="_blank"
                        href="https://www.google.com/maps/place/Sundsgatan+35,+661+42+S%C3%A4ffle/@59.1302538,12.9298516,17z/data=!3m1!4b1!4m5!3m4!1s0x4644a8985505ee95:0x9daef44078fbed9f!8m2!3d59.1302538!4d12.9320403"><i
                            class="fa fa-location-arrow" aria-hidden="true"></i> :
                        Företagets plats</a>
                </div>
            </div>

            <!----------------------Section Opening Hours in body------------------------------------------------------------>
            <div class="card border-secondary mb-3" style="width:100%; justified-content-center">
                <div class="card-header">
                    <h5>Telefontider </h5>
                </div>
                <div class="card-body table">
                    <tr>
                        <td><strong>Mån-Fre:</strong>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 7:00 - 16:00
                        </td>
                    </tr>
                    <br />
                    <tr>
                        <td><strong>Lördag:</strong>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 9:00 - 16:00
                        </td>
                    </tr>
                    <br />
                    <tr>
                        <td><strong>Söndag:</strong>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            9:00 - 13:00
                        </td>
                    </tr>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}